<?xml version='1.0' encoding='UTF-8'?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="https://podcast.psmls.org/feed.rss" rel="self" type="application/rss+xml"/>
    <title>The People’s School for Marxist-Leninist Studies</title>
    <link>https://peoplesschool.org/</link>
    <pubDate>{{pubDate}}</pubDate>
    <lastBuildDate>{{pubDate}}</lastBuildDate>
    <ttl>60</ttl>
    <language>en</language>
    <copyright>All rights reserved</copyright>
    <webMaster>info@psmls.org</webMaster>
    <description>The People’s School for Marxist-Leninist studies’ sole goal is to educate the working class to prepare to build socialism. Our team of talented teachers run an interactive classroom focused on openness and clear understanding.</description>
    <itunes:subtitle>The People’s School for Marxist-Leninist studies’…</itunes:subtitle>
    <itunes:owner>
      <itunes:name>Peoples School Podcast</itunes:name>
      <itunes:email>info@psmls.org</itunes:email>
    </itunes:owner>
    <itunes:author>PSMLS</itunes:author>
    <itunes:explicit>no</itunes:explicit>
    <itunes:image href="https://podcast.psmls.org/logo.jpg"/>
    <image>
      <url>https://podcast.psmls.org/logo.jpg</url>
      <title>Peoples School Podcast</title>
      <link>https://peoplesschool.org/</link>
    </image>
    <itunes:category text="Education"/>
  </channel>
  {{#each episodes}}
  <item>
    <guid isPermaLink="false">psmls:podcast:episode/{{this.id}}</guid>
    <title>{{this.title}}</title>
    <pubDate>{{this.pubDate}}</pubDate>
    <link>https://peoplesschool.org/</link>
    <itunes:duration>{{this.itunesDuration}}</itunes:duration>
    <itunes:author>PSMLS</itunes:author>
    <itunes:explicit>no</itunes:explicit>
    <itunes:summary>{{this.description}}</itunes:summary>
    <itunes:subtitle>{{this.itunesSubtitle}}…</itunes:subtitle>
    <description>{{this.description}}</description>
  </item>
  {{/each}}
</rss>
